.nft {
  height: 37.8125rem;
  width: 26.125rem;
  background-color: rgb(12, 25, 42);
  margin: 4rem 0 0.5rem 0;
  border-radius: 1.25rem;

  &-card {
    z-index: 2;
    position: relative;
    height: 34.875rem;
    width: 20.9375rem;
    background-color: $white;
    margin: 1.4375rem;
    overflow: hidden;
    background-color: $darkBlue;
    border-radius: 1.25rem;
    padding: 1.3125rem;
  }

  &-card-absolute {
    z-index: 1;
    position: absolute;
    top: 105px;
    height: 34.875rem;
    width: 22.757rem;
    background-color: rgb(3, 23, 41);
    border-radius: 1.25rem;
    overflow: none;
  }

  &-image {
    position: relative;
    background-image: url("../images/image-equilibrium.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 18.4375rem;
    width: 100%;
    border-radius: 0.625rem;
    margin-bottom: 1.125rem;

    &-hover {
      opacity: 0;
      position: absolute;
      height: inherit;
      width: inherit;
      background-color: rgba(35, 194, 206, 0.6);
      border-radius: 0.625rem;
      transition: opacity 150ms ease-in-out;
    }

    &:hover {
      .nft-image-hover {
        opacity: 1;
        cursor: pointer;
      }
    }
  }

  &-text {
    height: 12.5625rem;
    width: 100%;
  }

  &-title {
    color: $white;
    font-weight: 600;
    margin-bottom: 1.25rem;
    transition: color 150ms ease-in-out;
    &:hover {
      color: $cyan;
      cursor: pointer;
    }
  }

  &-description {
    margin-bottom: 1.25rem;
  }

  &-price-time {
    margin-bottom: 1.125rem;
  }

  &-price {
    font-weight: 600;
    color: $cyan;
  }

  &-ether {
    margin-left: 0.3125rem;
  }

  &-time {
    font-weight: 600;
  }

  &-clock {
    margin-left: 0.4375rem;
  }

  &-horizontal-line {
    height: 0.125rem;
    width: 100%;
    background-color: $blue;
    margin-bottom: 1.125rem;
  }

  &-nft-user {
    margin-bottom: 1.8125rem;
  }

  &-profile {
    height: 1.9375rem;
    width: 2.125rem;
    border-radius: 6.25rem;
    border: 0.0625rem solid $white;
    margin-right: 0.8125rem;
    > img {
      height: 1.875rem;
      width: 1.9375rem;
    }

    &-text {
      font-size: 0.9375rem;
      &-first {
        margin-right: 0.1875rem;
      }
      &-second {
        font-weight: 600;
        color: $white;
        transition: color 150ms ease-in-out;
        &:hover {
          color: $cyan;
          cursor: pointer;
        }
      }
    }
  }
}
